input {
	margin-top: 1%;
	margin-bottom: 2%;
}

.crypto-button {
	display: none;
}

.crypto-img {
	width: 80px;
}

.crypto-container {
	margin-top: 1%;
	display: flex;
	justify-content: left;
	align-content: center;
}

.crypto-img,
.crypto-name,
.crypto-price,
.crypto-change {
	padding: 20px;
}

#crypto-one,
#crypto-two,
#crypto-three,
#crypto-four,
#crypto-five {
	display: none;
}
